.games-list-container {
  width: 1104px;
  background-color: cornflowerblue;
  margin: 45px auto 0;
}

.five-games-container {
  height: 298px;
  margin: 35px 0;
  background-color: burlywood;
}

.title-section {
  height: 40px;
  font-size: 30px;
  line-height: 40px;
}
.container7 {
  height: 250px;
  display: flex;
}

.card-main {
  width: 200px;
  height: 250px;
  border-radius: 8px;
}

img {
  width: 200px;
  height: 250px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}

.pagination li {
  list-style-type: none;
  margin: 0 4px;
  font-size: 20px;
  line-height: 35px;
  border-radius: 8px;
  padding: 0 8px;
}

.pagination__link--active {
  background-color: var(--GPpink);
}

footer {
  text-align: right;
  margin-top: 25px;
}

footer span {
  font-size: 21px;
  line-height: 28px;
  text-align: right;
  color: var(--GPlinkgrey);
}
