.header {
  height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}

.headerleft {
  width: 194px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerleft .logo-container {
  width: 32px;
  height: 32px;
  margin-left: 6px;
}

.headerleft .logo-container img {
  width: 32px;
  height: 32px;
  transform: scale(1.5);
}

.gamepad {
  width: 150px;
  height: 45px;
  font-size: 34px;
  line-height: 45px;
}

.headerright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mycollection {
  width: 125px;
  height: 27px;
  font-size: 20px;
  line-height: 27px;
}

.button-login {
  width: 85px;
  height: 37px;
  background-color: var(--GPpink);
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(255, 70, 85, 0.25);
  margin-left: 30px;
  text-align: center;
}

.login {
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.line1 {
  border: 2px solid var(--GPpink);
}
