.logo-container .logo {
  float: left;
  shape-outside: polygon(50% 0, 25% 30%, 25% 100%, 75% 100%, 75% 30%);
  clip-path: polygon(50% 0, 25% 30%, 25% 100%, 75% 100%, 75% 30%);
  background-color: var(--GPpink);
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  transform: rotate(45deg);
  border: 1px solid var(--GPpink);
}

.vector {
  float: left;
  shape-outside: polygon(50% 0, 0 30%, 0 100%, 100% 100%, 100% 30%);
  clip-path: polygon(50% 0, 0 30%, 0 100%, 100% 100%, 100% 30%);
  background-color: var(--GPgrey);
  height: 100%;
  width: 50%;
}
