.pagination {
  background-color: brown;
  display: flex;
  align-items: center;
}

.nav-page-container {
  background-color: saddlebrown;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.before,
.after {
  background-color: burlywood;
  display: flex;
}

.pagination span {
  font-size: 20px;
  line-height: 35px;
  border-radius: 8px;
  padding: 0 1vh;
}

.currentPage {
  background-color: var(--GPpink);
  margin: 0 2vh;
}
