.App {
  background-color: var(--GPblack);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  width: 1200px;
  height: 1699px;
  background-color: var(--GPgrey);
  margin: auto;
}
